body {
    margin: 0;
    padding: 0px; /* Corrigido para incluir "px" */
}

header {
    background-color: chartreuse;
    display: flex; /* Adicionado para alinhar os itens centralmente */
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

nav a {
    display: block;
    color: rgb(240, 255, 245);
    text-align: center;
    padding: 15px 20px; /* Ajustado o espaçamento do padding */
    text-decoration: none;
}

nav a:hover {
    background-color: #12ace9;
}

#texto-e-imagem {
    width: 100%;
}

#texto-e-imagem img {
    width: 100%;
}

#div-texto {
    background-color: lightblue;
    padding: 30px;
    margin-top: 20px; /* Ajustado para 20px */
    border-radius: 10px; /* Adiciona bordas arredondadas */
}

#div-texto strong {
    font-weight: bold;
    font-size: 24px; /* Reduzido para 24px */
}

/* Estilos para o botão */
#botaosaibamais {
    padding: 10px 20px;
    background-color: #12ace9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#botaosaibamais:hover {
    background-color: #0a80aa;
}
