body {
    margin: 0;
    padding: 0px; /* Corrigido para incluir "px" */
}

header {
    background-color: chartreuse;
    display: flex; /* Adicionado para alinhar os itens centralmente */
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

nav a {
    display: block;
    color: rgb(240, 255, 245);
    text-align: center;
    padding: 15px 200px;
    text-decoration: none;
}

nav a:hover {
    background-color: #12ace9;
}

#texto-e-imagem {
    width: 100%; /* Define a largura para ocupar 100% da largura do pai */
}

#texto-e-imagem img {
    width: 100%; /* Define a largura da imagem como 100% da largura do contêiner */
}

#div-texto {
    background-color: lightblue; /* Define a cor de fundo */
    padding: 30px; /* Adiciona espaço interno para melhor legibilidade */
    margin-top:0px; /* Adiciona margem superior para separação do conteúdo acima */
    border-radius: 0px; /* Adiciona bordas arredondadas */
}

#div-texto strong {
    font-weight: bold; /* Garante que a palavra "HTML" seja exibida em negrito */
    font-size: 30px; /* Define o tamanho da fonte para a palavra "HTML" */
}