body {
    margin: 0;
    padding: 0px; /* Corrigido para incluir "px" */
    font-family: 'Arial', sans-serif;
}

header {
    background-color: chartreuse;
    display: flex; /* Adicionado para alinhar os itens centralmente */
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

nav a {
    display: block;
    color: rgb(240, 255, 245);
    text-align: center;
    padding: 15px 200px;
    text-decoration: none;
}

nav a:hover {
    background-color: #12ace9;
}

#texto-e-imagem {
    width: 100%; /* Define a largura para ocupar 100% da largura do pai */
}

#texto-e-imagem img {
    width: 100%; /* Define a largura da imagem como 100% da largura do contêiner */
}
